{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }

    .imagemProduto {
        width: 250px;
        height: 280px;
    }

    .card {
        width: 260px;
    }
</style>

<div class="example-wrapper">
    <h1>Seja bem vindo à Point Digital!</h1>

    Confira nossos produtos disponíveis no catálogo:
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-1">
        {% for produto in produtos %}

        <div class="col">
            <div class="card shadow-sm d-flex justify-content-center">
                {% if produto.nome == 'J7 PRIME' %}
                <img class="imagemProduto" src="{{ asset('assets/imagensProdutos/J7 PRIME.jpeg') }}" alt="Foto do Produto">
                {% endif %}
                {% if produto.nome == 'LG K10' %}
                <img class="imagemProduto" src="{{ asset('assets/imagensProdutos/LG K10.jpeg') }}" alt="Foto do Produto">
                {% endif %}
                {% if produto.nome == 'Redmi Note 8' %}
                <img class="imagemProduto" src="{{ asset('assets/imagensProdutos/Redmi Note 8.jpeg') }}" alt="Foto do Produto">
                {% endif %}
                <div class="card-body">
                    <p class="card-text ms-2">{{produto.nome}}</p>
                    <p class="card-text ms-2">Valor: R${{produto.preco}}</p>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="btn-group">
                            {% if isAdministrador() == false %}
                            <a href="/confirmarPedido/{{produto.id}}" type="button" class="btn btn-sm btn-success me-1">
                                <i class="bi bi-cart"></i>
                                Comprar
                            </a>
                            {% endif %}
                            <a href="/visualizarProduto/{{produto.id}}" type="button" class="btn btn-sm btn-primary">
                                <i class="bi bi-eye-fill"></i>
                                Detalhes
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    {% endblock %}