<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Point Digital | {{ titulo }} {% endblock %}</title>

    <link rel="stylesheet" href="../vendor/fortawesome/font-awesome/css/all.css">
    <link rel="stylesheet" href="../vendor/fortawesome/font-awesome/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Toastr style -->
    <link href="{{ asset('assets/css/toastr.min.css') }}" rel="stylesheet">

    <style>
        body {
            background-color: #F5F5DC;
        }
        nav {
            position: fixed;
        }

    </style>
    {% block stylesheets %}

    {% endblock %}

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Point Digital</a>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
      
          <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            {% if (usuario.nome) != null %}
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {{usuario.nome}}
                </button>
                <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1">
                {% if isAdministrador() %}
                    <li><a class="dropdown-item" href="/gerenciarProdutos">Gerenciar Produtos</a></li>
                    <li><a class="dropdown-item" href="/gerenciarPedidos">Gerenciar Pedidos</a></li>
                    <li><a class="dropdown-item" href="/gerenciarOrdens">Gerenciar OS's</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="/meusPedidos">Meus Pedidos</a></li>
                    <li><a class="dropdown-item" href="/minhasOrdens">Minhas OS's</a></li>
                {% endif %}
                    <li><a class="dropdown-item" href="/trocarSenha">Alterar Senha</a></li>
                    <li><a class="dropdown-item" href="/logout">Sair</a></li>
                </ul>
            </div>
            {% else %}
            <!-- SENÃO MOSTRAR BOTÃO DE LOGIN -->
            <a class="btn btn-primary" href="/login">Login</a>
            {% endif %}
          </div>
        </div>
      </nav>
    {% block body %}{% endblock %}
 
</body>

<!-- FONT AWESOME -->
<script defer src="../vendor/fortawesome/font-awesome/js/brands.js"></script>
<script defer src="../vendor/fortawesome/font-awesome/js/solid.js"></script>
<script defer src="../vendor/fortawesome/font-awesome/js/fontawesome.js"></script>
<!-- JQuery para o funcionamento do Toastr-->
<script src="{{ asset('assets/js/jquery-3.1.1.min.js')}}"></script>
<!-- Toastr -->
<script src="{{ asset('assets/js/toastr.min.js')}}"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<!-- Função para retornar mensagem de erro -->
{{message()}};




{% block javascripts %}

{% endblock %}

</html>