{% extends 'base.html.twig' %}

{% block body %}
<style>
    #headerTabela {
        color:white;
    }
</style>

<div class="container">
    <div>
        <a style="margin: 10px 0 10px 0;" class="btn btn-success float-end" href="/novoProduto">
            <i class="bi bi-plus"></i>
            Novo Produto
        </a>
    </div>

    <table class="table">
        <thead>
          <tr id="headerTabela" class="bg-primary">
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Marca</th>
            <th scope="col">Preço</th>
            <th scope="col">Em Estoque</th>
            {% if produtos %}
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
        {% for produto in produtos %}
            <tr>
                <th scope="row">{{produto.id}}</th>
                <td>{{produto.nome}}</td>
                <td>{{produto.marca}}</td>
                <td>{{produto.preco}}</td>
                <td>{{produto.qnt_estoque}}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="visualizarProduto/{{produto.id}}">
                        <i class="bi bi-eye-fill"></i>
                        Visualizar
                    </a>
                </td>
                <td>
                    <i class="fa fa-pencil"></i>
                    <a class="btn btn-sm btn-warning" href="editarProduto/{{produto.id}}">
                        <i class="bi bi-pencil-fill"></i>
                        Editar
                    </a>
                </td>
                <td>
                    <i class="fa fa-pencil"></i>
                    <a idProduto="{{produto.id}}" nomeProduto="{{produto.nome}}" class="btn btn-sm btn-danger botaoExcluirProduto">
                        <i class="bi bi-trash-fill"></i>
                        Excluir
                    </a>
                </td>
            </tr>
        {% endfor %}
        
        </tbody>
      </table>
      

</div>

{% endblock %}

{% block javascripts %}

<script>
    $(document).ready(function(){
        $('.botaoExcluirProduto').click(function () {
            var idProduto   = $(this).attr('idProduto');
            var nomeProduto = $(this).attr('nomeProduto');
            swal({
                title: "Você tem certeza?",
                text: "Você não poderá recuperar o produto: " + '\n' + nomeProduto,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Sim, deletar!",
                cancelButtonText: "Não, cancelar por favor!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: '/excluirProduto',
                            method: 'POST',
                            data: { idProduto: idProduto },
                            success: function (data) {
                                var data = Object.values(data);
                                data = data[1050];
                                if (data == 1) {
                                    swal("Deletado!", "O produto foi removido com sucesso", "success");

                                    $('.confirm').click(function () {
                                        window.location.reload();
                                    });

                                } else {
                                    swal("Cancelado", "Erro ao remover o produto!", "error");
                                    $('.confirm').click(function () {
                                        window.location.reload();
                                    });
                                }
                            }
                        });
                    } else {
                        swal("Cancelado", "Operação Cancelada!", "error");
                    }
                });
        });
        
    });
</script>

{% endblock %}